{
	admin off
}

royalen.no {
	encode zstd gzip

	@internal_metrics path /metrics
	respond @internal_metrics 404

	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "same-origin"
		Permissions-Policy "camera=(), geolocation=(), microphone=()"
	}

	reverse_proxy app:8000

	log {
		output stdout
		format json
	}
}
